export(VScan)
export(gamLoessScan)
S3method(pca,bed)
S3method(pca,vcf)
S3method(pca,gds)
S3method(genmat,bed)
S3method(genmat,vcf)
S3method(genmat,gds)
importFrom("SNPRelate", "snpgdsBED2GDS","snpgdsOpen", "snpgdsGetGeno", "snpgdsPCA", "snpgdsClose")
importFrom("stats", "p.adjust", "qchisq","loess","coef","lm","na.omit","resid","pnorm","sd","median","pchisq")
importFrom("caret", "nearZeroVar")
importFrom("ModelMetrics","auc")
importFrom("utils","modifyList","combn","write.csv")
